#title {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #eee;
  min-height: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#title::before{
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  height: 100%;
  background-color: #111111;
    
}

#title .wtitleslide{
   height: 673px;
   overflow: hidden;
}


#title .titleslide .inner{
  display: flex;
  height: 673px;
  width: 1521px;
}

#title .inner {
  position: relative;
  z-index: 1;
  color: #fff;
  
}



#title .inner h2 {
 position: relative;
 z-index: 1;
 font-size: 60px;
 margin-bottom: 20px;
 font-weight: 900;
 overflow: hidden;
  
}

#title .inner h2 span{
 display: block;
 transform: translateY(100%);
 transition: transform 2s;
 font-family: 'Montserrat', sans-serif;
}

.h2Up{
  transform: translateY(0%) !important;
}

#title .inner p {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 900;
  overflow: hidden;
}

#title .inner p span{
  display: block;
  transform: translateY(100%);
  transition: transform 2.3s;
}

.pUp{
  transform: translateY(0%) !important;
}

#title .inner br {
  
}

#title .inner video, #title .inner img{
  width: 1188px;
  height: 673px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#title .inner video[poser]{
  width: 100%;
  height: 100%;
}

#title span.titleaside{
  position: absolute;
  right: calc(20% / 4 - 81px);
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-between;
  width: 164px;
  font-size: 15px;
  font-weight: 900;
}


#title span.titleaside a.campaign{
  transform: rotate(90deg) translateX(78px);
  width: 200px;
  color: #aaa;
  font-size: 13px;
  transition: all 0.5s;
}

#title span.titleaside a.campaign:hover{
  color: #000;
}

#title span.titleaside a.scroll{
  position: relative;
  text-transform: uppercase;
  animation-name: scrollani3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 12px;
}

@keyframes scrollani3{
  0%{
    opacity: 0.3;
  }
  10%{
    opacity: 0.8;
  }
  100%{
    opacity: 0.3;  
  }
}

#title span.titleaside a.scroll::before{
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -13px;
  border: 5px solid;
  border-left: transparent;
  border-top: transparent;
  transform: scale(0.5) translateY(-15px) rotate(45deg);
  color: #000;
  left: calc(50% - 7.5px);
  animation-name: scrollani1;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

@keyframes scrollani1{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#title span.titleaside a.scroll::after{
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -23px;
  border: 5px solid;
  border-left: transparent;
  border-top: transparent;
  transform: scale(0.5) translateY(-15px) rotate(45deg);
  color: #333;
  animation-name: scrollani2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  left: calc(50% - 7.5px);
}


@keyframes scrollani2{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}